*{

    box-sizing: border-box;
    font-family: roboto;
}


.container{
    max-width: 500px;
    margin: auto;
    border:rgba(51, 51, 51, 0.733) solid 0.5px;
}
header{
    background-color: rgba(22, 22, 22, 0.856);
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    padding: 7px;
    margin: 0;
    
}
header li{
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    list-style-type: none;
}
.todo-form div{
padding: 7px;
text-align: center;
}
.todo-form input, .todo-form button, .modification-zone input{
    padding: 10px;
    outline: none;
letter-spacing: 2px;

}
.todo-form input{
    /* border: lightblue solid 2px; */
    width: 80%;
}
.modification-zone input{
    width: 100%;
}
.todo-form input:focus-visible, .modification-zone input:focus-visible{
    border: lightblue solid 1px;
}

section ul{
    padding: 17px;
}

section li{
    list-style-type: none;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #eee;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
}
.option, .modification-option{
    display: flex;
    justify-content:end;
    gap: 10px;
}
.option button, .modification-option button{
    padding: 5px;
}

footer{
    border-top: #aaa solid 1px;
}


footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 10px; */
    padding: 7px;
letter-spacing: 2px;
    color: #aaa;
}

.description{
    padding: 20px;
}